@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
  text-align: center;
  font-family: 'Mansalva', cursive;
}

h1 {
  margin: 1em;
  text-align: center;
  background-color: #A3C3D9;
  padding: 15px;
  color: $black;

}

.game {
  padding: 7px;
}

.container {
  height: 100%;
  width: 50%;
  justify-content: center;

}


.hidden {
  visibility: hidden;
}

.square {
  border: 2px solid #A3C3D9;
  cursor: pointer;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 7px;

}

.placeholder {
  padding: 16px;
  font-size: 16px
}


#restart {
  padding: 10px;
  margin: 10px;
  font-size: 15px;

}

#get-records {
  margin: 18px;
}
