@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

body {
  text-align: center;
  font-family: 'Mansalva', cursive;
}

h1 {
  margin: 1em;
  text-align: center;

}

.container {
  height: 500px;
  width: 300px;
  justify-content: center;


}


.hidden {
  visibility: hidden;
}


.square {
  border: 2px solid $black;
  cursor: pointer;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  border-left: 0;
  border-bottom: 0;



}

#restart {
  padding: 20px;
  margin: 15px;
  font-size: 15px;

}

#get-records {
  margin: 18px;
}
